{% extends 'user/search_index.html' %}

{% block search_button %} 

<div class="row" id="rowform" style="display: flex; justify-content: center; border: 0px solid; border: 0px solid blue; color: aliceblue;">
  <div class="col-md-12" style="display: flex; justify-content: center;">
      <h1 style="color: rgb(59, 7, 181);">Contact Us</h1>
  </div>
  <div class="col-md-5 mt-3" id="signupform" style="background-color: rgb(59, 7, 181); padding: 20px;">
    {% with c=get_flashed_messages() %}
    {% if c %}
        {% for msg in c %}
        <div class="alert alert-info col-md-7">{{ msg }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
      <form action="{{ url_for('messages')}}" method="post">

          <div>
            <label for="email" class="form-label mt-3"> Email Address </label>
            <input type="email" name="mail" id="mail" placeholder="Enter your email address" class="form-control" required>
          </div>
  
          <div>
            <label for="number" class="form-label mt-3"> Phone Number </label>
            <input type="number" name="phone_no" id="phone_no" placeholder="Mobile Number format:  07031234567" class="form-control" required>
            </div>  

            <div>
                <label for="number" class="form-label mt-3"> Message Subject </label>
                <input type="text" name="subject" id="subject" placeholder="Type the Subject of the message" class="form-control" required>
                </div>

            <div>
                <label for="email" class="form-label mt-3"> Message Content </label>
                <textarea name="message" id="message" cols="40" rows="5" class="form-control" placeholder="please type your message here and send" required></textarea>
              </div>

            <div>
  
            <button class="btn btn-outline-warning mb-3" id="btn">Send Message</button>
            
          </div>
        
        </form>
       
   

  </div>
</div> {% endblock %}
{% block banner_display %}  {% endblock %}
{% block card_details %}   {% endblock %}
 {% block banner %}   {% endblock %}
 {% block footer %}  
  {{super()}}
 {% endblock footer %}

 {% block javascript %}
 <script src="{{url_for('static',filename='jquery.min.js')}}"></script> 
 <script type="text/javascript">
     
$(document).ready(function(){
  $('#justcheck').click(function(){
 
  var c = $(this).prop('checked')

    if(c == true){
   
      $('#btn').removeAttr('disabled')
  } else{
    $('#btn').attr('disabled', 'disabled')
 }

})

})

     </script>
     {% endblock javascript %}
 
</body>
</html
