<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  
    </style>
</head>
<body>
    
<div class="list-group list-group-flush my-3" style="color: white;">
    <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text active">
        <i class="fas fa-tachometer-alt me-2"  ></i>Dashboard</a>


    <a href="{{url_for('user_profile')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold text-light">
        <i class="fa-tachometer fa-file"></i>  Update Profile Picture</a>
    

    <a href="{{url_for('skill')}}" class=" list-group-item-action bg-transparent second-text fw-bold text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-tachometer-alt me-2"> </i> Skill </a> 
    
     
    <p style="color:yellow">{{deets.user_skill}}</p>     
    <p style="color:yellow"> {{ hint }}  </p>  

            <hr sytle="border:3px solid white; color:brown">

    <a href="{{url_for('album')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold text-light">
        <i class="fa-sharp fa-solid fa-eye"></i> Portfolio </a>

    <a href="{{url_for('contact')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold text-light">
        <i class="fa-solid fa-share-from-square "></i> Contact Address </a>

        {% if session.get('user')!=None or session.get('client')!=None %}
        <p>{{deets.user_address}}  </p>
        <p> {{deets.user_state}} </p>
        <p> {{deets.user_phone}} </p>
        {% else %}

        <p> Kindly signup/login to view the contact details  </p>
        {% endif %}

        {% if session['user']!=None %}

        <a href="{{url_for('user_profile')}}" class="dash-menu list-group-item list-group-item-action bg-transparent second-text fw-bold text-light ">
            <i  class=" dash-menu fa-tachometer fa-file btn btn-primary border-yellow "></i>  </a>
            <p> <b>Chose three(3) best pictures To Appear on your Search</b> </p>
            <div class="row">
                <div class="col">
                    <a href="{{url_for('displaypics')}}" > <i class="fa-sharp fa-solid fa-eye btn btn-sm btn-primary btn-outline-warning" id="dash_menu2">Picture1</i>  </a>
                </div>
                <div class="col">
                    <a href="{{url_for('displaypics2')}}" > <i class="fa-sharp fa-solid fa-eye btn btn-sm btn-primary btn-outline-warning" id="dash_menu2">Picture2</i>  </a>
                </div>
                <div class="col">
                    <a href="{{url_for('displaypics3')}}" > <i class="fa-sharp fa-solid fa-eye btn btn-sm btn-primary btn-outline-warning" id="dash_menu2">Picture3</i>  </a>
                </div>
            </div>      

            <div class="row" style="border: 1px solid blue; display: flex; justify-content: space-between; min-height: 100px;">
                <div class="col-md-4">
                    {% if deets: %}
                    {% if deets.user_dp1 !='' and deets.user_dp1 != None  %}
                          <img src="{{url_for('static', filename='uploads/dp/'+deets.user_dp1)}}" alt="mdo" width="100" height="120" >
                        {% else %}
                          <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
                   {% endif %}     
                  {% endif %}
                </div>
                <div class="col-md-4">

                    {% if deets: %} 
                    {% if deets.user_dp2 !='' and deets.user_dp2 != None  %}
                          <img src="{{url_for('static', filename='uploads/dp/'+deets.user_dp2)}}" alt="mdo" width="100" height="120" >
                        {% else %}
                          <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
                   {% endif %}     
                  {% endif %}

                </div>
                <div class="col-md-4">
                    
                    {% if deets: %} 
                    {% if deets.user_dp3 !='' and deets.user_dp3 != None  %}
                          <img src="{{url_for('static', filename='uploads/dp/'+deets.user_dp3)}}" alt="mdo" width="100" height="120" >
                        {% else %}
                          <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
                   {% endif %}     
                  {% endif %}
                </div>
            </div>


           

            
            <hr style="color:aliceblue">
    <a href="{{url_for('user_logout')}}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold" style="display:inline;">
        <i class="fa-sharp fa-solid fa-power-off"></i> <b>Logout</b> </a>

      {% endif %}

        
</div>
</body>
</html>


            