<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Skiller Home Layout </title>
<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<style type="text/css"></style>
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">

    <link href=" {{url_for('static',filename='skiller.css')}} " rel="stylesheet" >
    <link rel="stylesheet" href=" {{url_for('static',filename='css/admin.css')}} ">
</head>
<body style="background-color:brown; font-size:2em">

<h2 class='clone'>Rhapsody of Realities </h2>
<p> Rhema is Greek for the "spoken word." In this case, it’s
your proclamation of the inspired Word of God for the hour
and the season. It’s always a word said, or a word in saying;
otherwise, it’s not a sword; it’s not a weapon. Always put
the Word on your lips; that’s what you use to discomfit the
enemy and all adversities.</p>
	 	
	 	<h2 class='clone'>Rhapsody of Realities </h2>
<p> Rhema is Greek for the "spoken word." In this case, it’s
your proclamation of the inspired Word of God for the hour
and the season. It’s always a word said, or a word in saying;
otherwise, it’s not a sword; it’s not a weapon. Always put
the Word on your lips; that’s what you use to discomfit the
enemy and all adversities.</p>

<h2 class='clone'>Rhapsody of Realities </h2>
<p> Rhema is Greek for the "spoken word." In this case, it’s
your proclamation of the inspired Word of God for the hour
and the season. It’s always a word said, or a word in saying;
otherwise, it’s not a sword; it’s not a weapon. Always put
the Word on your lips; that’s what you use to discomfit the
enemy and all adversities.</p>

<script type="text/javascript">

var clone = document.getElementsByClassName('clone');
var paras = document.getElementsByTagName('p');
alert('the number of paragraphs in this web page is ' + paras.length);
alert(clone.length);
//paras.style.color='yellow';
paras[0].style = "background-color:yellow";
clone[2].style.color='white';


	
</script>
			
</body>
</html>