{% extends "admin/index.html"%}
  



{% block search_button %} 


<div class="row"> 
  <div class="col-md-3" style="background-color: rgb(0, 0, 0);padding:1em; border: 1px solid brown;">
    {% include 'user/menu.html' %}
  </div>

  <div class="col-md-9" style="background-color: white;padding:1em; display: flex; justify-content: center; border: 0px solid brown; background-color: bisque;">
    <!---<form method="post" action="{{url_for('user_dashboard')}}">-->
      <form action="" method="post" enctype="multipart/form-data">    

        <div> 
          <div class="col-md-4">
            <label for="">Select A Skill</label>
            <select name="skill" id="skill">
                   
                <option value=""> Please select an</option>
                   {% for s in chose %}
                <option value="{{s.skill_id}}">{{s.skill_name}}</option> 
                {% endfor %}
            </select>
            <textarea name="hint" id="hint" cols="30" rows="10" placeholder="brief extra detials and other skills if any"></textarea>
           <button class="btn btn-success mt-3" >Update Skill</button>
        </div>
    </div>


      </form>
    </div>
    
    
     </div>
 

{% endblock %}

{% block banner_display %}  {% endblock %}
{% block card_details %}   {% endblock %}
 {% block banner %}   {% endblock %}

 



 

