<!DOCTYPE html>
<html lang="en">
<head> 
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>Skiller</title>
    <link rel="stylesheet" href="fontawesome6/css/all.min.css">
    <link rel="stylesheet" href="animate.min.css">
    <link href="skiller.css" rel="stylesheet" >
</head>
<body>
    <div class="container-fluid">
        <!--this is for header-->
        <div class="row" id="navbar"> 
           
            <div class="col-md-2 " style="line-height: 50px;">
                <a href="index.html"> <img src="images/skiller_logo5.jpg" width="" height="" alt="logo"> </a>
            </div>
            <div class="col-md-3">
                <a href="" class="nalink" style="text-decoration:none; color:  rgb(43,89,195);"> <b>HOW IT WORKS</b>  </a> 
            </div>
            <div class="col-md-3">
                <a href="#" class="nalink" style="text-decoration: none; color:  rgb(43,89,195);"> <b> ABOUT </b>  </a>
            </div>
            <div class="col-md-2" style="text-align:right">
                <a href="signup_switch.html" class="btn btn-outline-primary" style="text-decoration: none"> <b> SIGN UP</b></a> 
            </div>
            <div class="col" style="text-align:left">
                <a href="" style="text-decoration: none; color: rgb(43,89,195);" class="btn" ><b> SIGN IN </b></a>
            </div>
        <!--End of navbar section-->

            <!--Profile section starts here-->
        <div class="row" id="profile">
            <div class="col-md-4">

               <div class="row" width="100%" >
                <div class="col-10" id="profile_photo">
                    <img src="images/fashion_designer1.png" alt="profile_photo" width="100%" height="100%">  
                </div>
                <div class="col-2" id="uname">  <span>User's Name </span> 
                </div>
               </div>

               

            </div>
            <div class="col-md-6">

            </div>



        </div>
        <!--Footer-->

        

        <div class="row">
            <div class="col-md-2" id="futer"> 
                <img src="images/logoc.png" width="25%" alt="skiller logo">
                <hr>
                <p class="futer"> <a href="" class="futer"> <b>Help and Support</b></a>  <br>
                    
                </p>
            </div>
            <div class="col-md-2" id="futer"> 
                
                <p class="futer"> <a href="" class="futer"> <b>Skiller</b></a>  </p>
                <p class="futer"    >
                    <a href="" class="futer"> Digital</a>  <br>
                    <a href="" class="futer"> Artesan</a>
                </p>
            </div>
            <div class="col-md-2" id="futer"> 
                <p class="futer"> <a href="" class="futer"> <b>About Us</b></a>  </p>
                <p class="futer">
                    <a href="" class="futer"> How it works</a>  <br>
                    <a href="" class="futer"> Careers</a>
                    <br>
                    <a href="" class="futer"> Security</a>
                    <br>
                    <a href="" class="futer"> Investment</a>
                    <br>
                    <a href="" class="futer"> Research & Analysis</a>
                    <br>
                    <a href="" class="futer"> News</a>

                </p>
            </div>
            <div class="col-md-2" id="futer"> 
                <p> <a href="" class="futer"> <b>Terms</b> </a>  </p>
                <p class="futer">
                    <a href="" class="futer"> Privacy Policy</a>  <br>
                    <a href="" class="futer"> Terms and Conditions</a>
                    <br>
                    <a href="" class="futer"> Copyright Policy</a>
                    <br>
                    <a href="" class="futer"> Fees and Charges</a>
                    <br>
                    <a href="" class="futer"> Partnership </a>

                </p>
            </div>
            <div class="col-md-2" id="futer"> 
                <p> <a href="" class="futer"> <b>Contact</b> </a>  </p>
                <p >
                    <a href="" class="futer"> Contact Us</a>  <br> <br>
                    <a href="" class="social"> <img src="images/facebook.png" width="10%" alt=""></a>

                    <a href="" class="social"> <img src="images/linkedin.png" alt="" width="10%"></a>
                    
                    <a href="" class="social"> <img src="images/instagram.png" alt="" width="10%"></a>
                    
                    <a href="" class="social"> <img src="images/twitter.png" alt="" width="10%"></a>

                </p>
            </div>
            
        </div>




    </div>
    
    <script src="jquery.min.js"></script>
    <script type="text/javascript">
         
    </script>
    




</body>
</html>