  {% extends 'user/index.html' %}

  {% block header %}
  <style>
    #dash{
      background-color: rgb(11, 2, 2);
    }
    .album{
      min-height: 200px;
      border: 0px solid blue;
    }
    #dash2{
      background-color:rgb(237,238,192);
    }
    div{
      border: 0px solid black;
    }
    #collections{
      border: 0px solid blue;
    }

  </style>
  {% endblock header %}

  {% block search_button %} 
 
   <div class="row mt-5">
      <div class="col-md-3" id="dash" style="position:static;">
        <!--<div class="form-floating mb-5" style="border: 1px solid black; height: 100px; width: 100px;    align-self:flex-start; background-color: silver;">
          <span >profile picture</span>
        </div>-->
        {% if deets: %}
                {% if deets.user_pix !='' and deets.user_pix != None  %}
                <img src="{{url_for('static', filename='uploads/'+deets.user_pix)}}" alt="mdo" width="70" height="70" class="rounded-circle">
                {% else %}
                <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
                {% endif %}
            {% else %}
              <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
        {% endif %}
        {% include 'user/menu.html' %}
      </div>
        <div class="col-md-9" style="background-color: white;padding:1em; display: flex; justify-content: center; border: 1px solid brown; background-color: bisque;">
          <hr>
            <div class="row mt-1" style="display:flex; align-content:space-around;"> 
              
              <div class="col-md-12" style="text-align: center;">
                <h3 > Previous Projects </h3>
                <p >Here are some of the explicit projects done by <span> <b> {{ deets.user_fullname }}</b></span> </p>   
              </div>

              <div class="row" id="collections" style="display: flex; justify-content: space-between;"> 
                 
                  
                
                  {% for p in propic %}
                  {% if p.Album_userid==session['user'] %}
                  <div class="col-md-4" id="field_container" > 
                  
                     <img src="{{ url_for('static',filename='uploads/album/'+p.album_name)}}"  alt="" class="img-fluid">

                     <a href="{{url_for('delete_album', id=deets.album_id)}}" class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to delete this photo?')"> <i class="fa fa-trash">Delete</i>  </a>
                  
                  </div>    
                   {% endif %}          
                  {%endfor %} 
              
              </div>
                          
            </div>
          </div>
        </div>
  {% endblock %}
  {% block banner_display %}   {% endblock %}
  {% block card_details %}   {% endblock %}
   {% block banner %}   {% endblock %}

        {% block javascript %} 
        <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script type="text/javascript">
      
    </script>
        {% endblock %}
</body>
</html


    
