  {% extends 'user/index.html' %}

  {% block header %}
  <style>
    #dash{
      background-color: rgb(84, 5, 5);
    }
    .album{
      min-height: 200px;
      border: 0px solid blue;
    } 
    #dash2{
      background-color:rgb(234, 233, 238);
    }
    div{
      border: 0px solid black;
    }
    #collections{
      border: 0px solid blue;
    }

  </style>
  {% endblock header %}

  {% block search_button %} 
 
   <div class="row">
      <div class="col-md-3" id="dash" style="border: 0px solid blue;">
        {% if deets: %}
          {% if deets.user_pix !='' and deets.user_pix != None  %}
                <img src="{{url_for('static', filename='uploads/'+deets.user_pix)}}" alt="mdo" width="70" height="70" class="rounded-circle">
              {% else %}
                <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
          {% endif %}
              {% else %}
                <img src="{{url_for('static', filename='uploads/avatar.jpg')}}" alt="mdo" width="70" height="70" class="rounded-circle">
        {% endif %}

        <p style="color: rgb(253, 253, 252);"> <b> Welcome {{ deets.user_fullname }}</b></p>
        {% if session['user']!=None %}
        {% include 'user/menu.html' %}
        {% endif %}
      </div>
      
        <div class="col-md-9" style="background-color: white;padding:1em; display: flex; justify-content: center; border: 0px solid brown; background-color: rgb(233, 231, 228);">
          <hr>
            <div class="row" style="display:flex; align-content:space-around;"> 
              
              <div class="col-md-12" style="text-align: center; color: blue;">
                <h3 class="my-4"> Previous Projects by {{ deets.user_fullname }}</h3>   
              </div>

              {% with c=get_flashed_messages() %}
            {% if c %}
                {% for msg in c %}
                <div class="alert alert-info col-md-5">{{ msg }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

              <div class="row" id="collections" style="display: flex; justify-content:flex-start;"> 
                  {% for p in propic %}
                  {% if p.Album_userid==session['user'] %}
                  <div class="col-md-4" id="field_container" > 
                     <img src="{{ url_for('static',filename='uploads/album/'+p.album_name)}}"  alt="" width="250" height="350" id="imgcheck">
                     <a href="{{url_for('delete', id=p.album_id)}}" class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to delete this photo?')"> <i class="fa fa-trash">Delete</i>  </a> 
                     <a href="{{url_for('details', id=p.album_id,deets=p.album_details)}}" style="text-decoration: none;" >Click to view details...</a>
                  </div>    
                   {% endif %} 
                    
                   
                  {%endfor %} 
              
              </div>
                          
            </div>
          </div>
          
    </div>
  {% endblock %}
  {% block banner_display %}   {% endblock %}
  {% block card_details %}   {% endblock %}
   {% block banner %}   {% endblock %}
n
        {% block javascript %} 
        <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script type="text/javascript">
      
    </script>
        {% endblock %}
</body>
</html


    
